@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    } 


.menu-open {
    display: none;
}

.menu-open-icon {
    display: none;
}

.container-footer {
    display: block;
    
}

}

