@media screen and (min-width: 768px) {
    .container {
       width: 768px;
    }
    .backdrop {
        padding-top: 100px;
        padding-bottom: 100px;
    }


.link {
    
}

.custom-icons-strategy {
    display: none;
}

.description-list {
display: inline-flexbox;
}



    
}